.div3 {
  width: 100vw;
  height: 55px;
  overflow: hidden;
  display: flex;
  background-color: #1d1d1d;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: start;
}
.bar-icon {
  margin-top: 8.5px;
  margin-bottom: 8.5px;
  margin-left: 15px;
  margin-right: 15px;
  object-fit: fill;
}

.bar-icon path {
  fill: #a4a4a4;
}

.bar-icon:hover {
  cursor: pointer;
}

.bar-icon:hover path {
  fill: #ffffff;
}

.bar-input {
  width: calc(100% - 110px);
  height: 55px;
  background-color: #e6e6e600;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  border: 1px solid #ffffff00;
  font-size: 24px;
  font-weight: 600;
  overflow: hidden;
  color: #ffffff;
  &::selection {
    color: #ffffff;
    background: #009150;
  }
}

.bar-input:focus {
  outline: none;
  border: none;
}

.bar-input:active {
  border: none;
}
